
.bgcontainer{
    display:flex;
    
   
}

.title{
    font-size: 18px;
    font-family: Roboto;
    font-weight:100;
    width:28vw;
    margin:15px;
   
}
.button{
    height:3vh;
    width:5vw;
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    margin:15px;
    color:#ff0b37;
    border-color: #ffc2a0; 
   
   
}