*{
padding:0;
margin:0;
box-sizing: border-box;
}
.outerdiv{
    
    background-color:white;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding:30px;
    
}
.titlecontainer{ 
    margin:25px;
   
    
}
.samplediv{
    background-color: #ffc2a0;
   display:flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height:100vh;
 
    
}
.todolist{
    color:  #ff8542;
    font-family:Roboto;
    font-weight: bold;
}